.header {
  height: 20rem;
  color: black;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__picture {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    padding-bottom: 1rem;
  }
}
